<!DOCTYPE html>
<html>
    <head>
        <!-- The title for SEO & browser tabs -->
        <title> Portfolio Website </title>

        <!-- Viewport meta tag -->
        <meta name="viewport" content="width=device-width, initialscale=1.0">

        <!-- Gridlex -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">

        <!-- Fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com"
        crossorigin>
        <link href="https://fonts.googleapis.com/css2?
        family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1
        ,400;1,600&display=swap" rel="stylesheet">

        <!-- My own custom stylesheet -->
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>

        <header class="grid">
            <div class="col-6_sm-12-middle padded-0 center-sm">
                <h1> The Design Collective. </h1>
            </div>
            <nav class="col-6_sm-12-middle right padded-0 center-sm">
                <a href="/about"> About </a>
                <a href="/services"> Services </a>
                <a href="/portfolio"> Portfolio </a>
                <a href="/contact"> Contact </a>
            </nav>
        </header>

        {{content}}

        <!-- Footer -->
        <footer class="grid bg-dark light-text padded padded-b-0"
        id="contact">
            <div class="col-6_sm-12 padded center-sm">
                <h2 class="logo"> The Design Collective </h2>
                <h3> Web Design & Development </h3>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Accusamus expedita eos cumque laboriosam nisi molestiae quae
                libero similique. </p>
            </div>
            <div class="col-6_sm-12-bottom padded right center-sm">
                <h3> Let's Connect. </h3>
                <nav>
                    <a href="#"> <i class="fab fa-pinterest-p"></i> </a>
                    <a href="#"> <i class="fab fa-instagram"></i> </a>
                    <a href="#"> <i class="fab fa-facebook-f"></i></a>
                    <a href="#"> <i class="fab fa-twitter"></i> </a>
                </nav>
            </div>
            <div class="col-12 center padded-t">
                <p class="subtle"> Copyright 2021</p>
            </div>
        </footer>

    </body>
</html>